@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');
html, body{
    height: 100%;
    width: 100%;
    font-family: "Roboto",sans-serif;
    color: #222;
}
.header{
    background-color: #339966;
}
.navbar{
    padding: .2rem;
    color: #fff;
}
.navbar-nav li{
    padding-right: 20px;
}
#menu{
    color: #fff;
}
.nav-link{
    font-size: 1em !important;
}
.padding{
    padding-bottom: 2rem;
}
body{
   background-image: url("../images/small_background.jpg");
    background-color:#fbf9fa;
    background-repeat: no-repeat;
    background-size: cover, contain;
  
}
body {
    background-image: url("../images/small_background.jpg");
    background-color: #fbf9fa;
    background-repeat: no-repeat;
    background-size: cover, contain;
}
.form-container{
    background-color:#FCF9FA;
    border: 0px solid #fff;
}
.edit-btn{
    margin-top: 10px;
}
.input-group-text{
    width: 120px;
}
.check_box{
    width: 30px;
    border: 0px;
}
.date{
    text-align: center;
}
