@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');
html, body{
    height: 100%;
    width: 100%;
    font-family: "Roboto",sans-serif;
    color: #222;
}
.header, footer{
    background-color: #339966;
}
.navbar{
    padding: .2rem;
    color: #fff;
}
.navbar-nav li{
    padding-right: 20px;
}
#menu{
    color: #fff;
}
.nav-link{
    font-size: 1em !important;
}
.padding{
    padding-bottom: 2rem;
}
hr{
    border-top: solid 2px #996633;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.logo-text{
    font-family: "Lobster", sans-serif;
}
.post-pictures{
    width:300px;
    height: 200px;
}
.small{
    margin-top: 5px;
    width: 55px;
    height: 40px;
}
footer{
    color:#fff;
}
.footer-links:hover{
    color: #fff;
    text-decoration: none;
}